@charset "utf-8";
@font-face {
    font-family: 'Arial-BoldMT_mk_1';
    src: url('/doc-asset/font/c9fc112d72a36319a1167bb1a8eb8f9965e562cf.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial-BoldMT_mk_10';
    src: url('/doc-asset/font/84f9897621de9793fe853053a78f452c826a592d.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial-BoldMT_mk_13';
    src: url('/doc-asset/font/0984a4ca11ebeb9a62c33687fbeaf0cd62239d61.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial-BoldMT_mk_2';
    src: url('/doc-asset/font/ea93423c79f66f8761bd7ae4907c8df616e57036.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial-BoldMT_mk_3';
    src: url('/doc-asset/font/25d21483760a54ee122266e75529720fa765462a.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial-BoldMT_mk_4';
    src: url('/doc-asset/font/dc428b21d4c645963e4a1c0830c4e9fdc9e30ddf.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial-BoldMT_mk_5';
    src: url('/doc-asset/font/1aaf01b1c7bdf72580f9db7de44b5a65dbdda519.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial-BoldMT_mk_6';
    src: url('/doc-asset/font/acac85aeb208b670a80bbc38f2997aa7f104cb71.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial-ItalicMT_ms_3';
    src: url('/doc-asset/font/add66d02b2e3c2bd882add47faa6e6112a7e499c.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Arial-ItalicMT_ms_7';
    src: url('/doc-asset/font/e15dde37f6f1b42d2ad9cd0141e96eba06a775eb.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'ArialMT_mg_1';
    src: url('/doc-asset/font/caff051d86c01fa872896ef7c04e09723fbbae56.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'ArialMT_mg_10';
    src: url('/doc-asset/font/b498ce19daa65ff6dca9fde38848cc154c095a52.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'ArialMT_mg_12';
    src: url('/doc-asset/font/56b96c89ee51c89a1eacf85a37e1c5dc57a672ba.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'ArialMT_mg_2';
    src: url('/doc-asset/font/f394e93fc6baee2c8041459ebd789be91bc0e135.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'ArialMT_mg_3';
    src: url('/doc-asset/font/d950b636cbf7061a07a723d91398fab79c78d07d.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'ArialMT_mg_4';
    src: url('/doc-asset/font/f037948c92df940f0e63b1d85c8d6c4f08581e1c.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'ArialMT_mg_5';
    src: url('/doc-asset/font/3f3df638b6bbd51b2627fa20f9f16b7fe2c23883.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'ArialMT_mg_6';
    src: url('/doc-asset/font/04de7bef0e80ca659b80b767e34973ac3694fd0f.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'ArialMT_mg_9';
    src: url('/doc-asset/font/a76956008fbfd348ec444828b2e8a7f9f22f5209.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Consolas_mo_1';
    src: url('/doc-asset/font/9dfc849b9b3491cb0bb989fa48acb4ba502fd05f.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Consolas_mo_2';
    src: url('/doc-asset/font/f51df4bb0d657fa97645c5d926dbce7907973a71.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Consolas_mo_6';
    src: url('/doc-asset/font/7234e121c93cfc6f1bb673153703872a1b52f240.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Consolas_mo_7';
    src: url('/doc-asset/font/7e168609b569296033c5572faad987f77624e37a.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'Consolas_mo_8';
    src: url('/doc-asset/font/139ec9d6971ca39032749210f54638093405451d.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'CourierNewPSMT_mw_10';
    src: url('/doc-asset/font/df42046a91dded098022c47688ac36b1c78b5f5c.woff') format('woff');
    font-display: swap;
}
@font-face {
    font-family: 'CourierNewPSMT_mw_9';
    src: url('/doc-asset/font/5fdb3734a2a6234f0c028bfb32ea1c6f3f3e0736.woff') format('woff');
    font-display: swap;
}
